$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #2EC5CE;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: yellow; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;
$color__text-button: #D5FAFC;

$color__border-button: #2EC5CE;
$color__border-button-hover: #75E3EA;
$color__border-button-focus: #179ba1;
$color__border-input: #2EC5CE;
$color__border-abbr: #2EC5CE;

$color__brand__turquoise: #2EC5CE;
$color__brand__turquoise__bold: #179ba1;
$color__brand__turquoise__800: #75E3EA;
$color__brand__turquoise__100: #D5FAFC;
$color__accent__peach: #F39F9F;
$color__accent__pastelgreen: #C1E5C0;
$color__accent__orange: #FE9A22;
$color__accent__pastelblue: #C0DAE5;

