// stylelint-disable value-keyword-case
$font__main: 'Inter', sans-serif;
// stylelint-enable value-keyword-case
$font__code: 'Inter', sans-serif;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.8;
$font__line-height-pre: 1.6;
