.blog {
    padding: 1em;
    @include breakpoint(md){
        padding: 3em;
      }
}

.blog .col-sm {
    margin: auto;
}

.blog p.sub-text {
    margin-top: 130px;
    @include breakpoint(md){
        margin-top: 0;
      }
}

.blog .col-sm.featured-img {
    margin-top: -350px;
    @include breakpoint(md){
        margin-top: 0;
      }
}