.onze-diensten {
    padding: 5em 0;
}

.onze-diensten .avatar {
    width: 56px;
    height: 56px;
}

.onze-diensten .subtext {
    margin-top: -20px;
    padding-right: 30px;
    font-size: 16px;
}

.onze-diensten a::after {
    content: ' \2192';
}
