.onze-diensten {
    padding: 5em 0;
}

.onze-diensten .container {
    padding-left: 2em;
    padding-right: 2em;
}

.onze-diensten .subtext {
    padding-right: unset;

    @include breakpoint(md){
        padding-right: 30px;
        margin-top: -20px;
        font-size: 16px;
	}
}

.onze-diensten .avatar {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: flex-end;

    @include breakpoint(md){
        width: 56px;
        height: 56px;
        margin-bottom: 1.5em;
	}
}

.onze-diensten a::after {
    content: ' \2192';
}

.onze-diensten .avatar.website {
    width: 110px;
}
.onze-diensten .avatar.webshop {
    width: 85px;
}
.onze-diensten .avatar.seo {
    width: 90px;
}

.col-sm.een, .col-sm.twee, .col-sm.drie, h5 {
    margin-top: 1em;
    margin-bottom: 1em;
    @include breakpoint(md){
        margin-top: 0;
        margin-bottom: 1.5em;
	}
}