.row.twee {
    margin-top: 30px;
}

.recente-projecten h5 {
    margin-top: 10px;
}

.recente-projecten .subtitel {
    margin-top: -30px;
}

#projecten {
    overflow-y: scroll;
    scroll-behavior: smooth;
}