.projecten {
    padding: 1em;
    @include breakpoint(md){
      padding: 0;
    }
    @include breakpoint(lg){
      padding: 3em;
    }
}

.projecten .twee {
    margin-top: 30px;
}

.row.twee {
  display: none;
  @include breakpoint(md){
    display: none;
  }
  @include breakpoint(lg){
    display: flex;
  }
}

.projecten h5 {
  margin-top: 10px;
  padding-bottom: 10px;
    @include breakpoint(md){
      padding-bottom: 0;
    }
}

.projecten .subtitel {
    margin-top: -40px;
}

.projecten #projecten {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
  
  .projecten .img-container:hover .img-content-hover {
    display: block;
  }
  
  .projecten img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    -o-object-fit: cover;
       object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in-out;

    @include breakpoint(md){
      height: 250px;
    }
    @include breakpoint(lg){
      height: 400px;
    }
  }
  .projecten img:hover {
    transform: scale(1.05);
  }
  
  .projecten .img-content-hover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    display: none;
    padding: 0.3rem;
    padding: 0 20px;
    background: $color__border-button;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 1.25rem;
    margin-left: -2rem;
  }
  
  .projecten .title {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .projecten .img-content {
    display: none;
  }

  
  @supports (display: grid) {
    .projecten .grid {
      grid-gap: 1rem;
    }
  }

  @media screen and (max-width: 1024px) {
    .projecten img:hover {
      transform: none;
    }
  
    .projecten .img-container {
      height: 100%;
      
    }
    .projecten .img-container:hover .img-content-hover {
      display: none;
    }
  
    .projecten .img-content {
      display: block;
      padding: 1rem 0;
    }
  }

  .projecten .img-container {
    width: 100%;
    height: 250px;
    cursor: pointer;
    overflow: hidden;

      @include breakpoint(md){
        height: 250px;
      }
      @include breakpoint(lg){
        height: 400px;
      }
  }

  .projecten .item {
    padding-right: 0;
    @include breakpoint(md){
      padding-right: 25px;
    }
    @include breakpoint(lg){
      padding-right: 25px;
    }
}