.werkwijze {
    padding: 3em;
}

.ronde-lijn {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.werkwijze .ronde {
    background-color: #2EC5CE;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 20px;
}

.werkwijze .lijn {
    border: 1px dashed #2EC5CE;
    opacity: 0.4;
    display: inline-flex;
    width: 150px;
}